<% content_for :cover do %>

  <div class="cover">
    <div class="cover-inner">
      <div class="cover-contents">
        <h1>素敵なモノと出会う場所</h1>
<%= link_to 'モノリストを始める', signup_path, class: 'btn tbn-success'
      </div>
    </div>
  </div>
<% end %>


<p>テスト</p>